extends layout

block content
  script.
    console.log('data: ' + data);
    var data = !{JSON.stringify(data)};
    var seriesArr = [];
    var titleArr = [];
    for(x in data){
      seriesArr.push({
        name:x,
        data:data[x]
      });
    }
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="charting.js")
  #container
    #graphContainer