extends layout

block content
  script.
    
    //var data = !{JSON.stringify(data)};
    var seriesArr = [];
    var titleArr = [];
    console.log(data);
    for(x in data){
      seriesArr.push({
        name:x.text,
        data:x.sentiment
      });
    }
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="charting.js")
  #container
    #graphContainer