<!DOCTYPE HTML>
<html lang = 'en'>  
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>kidbrezhi</title>
	<link href="bootstrap.css" rel="stylesheet">
	<style>
		body {
		font-family: "Lato";
		font-weight: 300;
		font-size: 16px;
		color: #555;
		-webkit-font-smoothing: antialiased;
		}

		#blah {
			max-width: 620px;
			margin:auto;
			list-style:none;
		}
	</style>

</head>
<body>
	<div class="green">
	<div class="container">
	<div class="row">
		<p><%= sentiments %></p>
	<div class="col-md-7 centered">
	<ul id="blah" class="newsticker" style="height:240px; overflow:hidden; display:block;">
		<% sentiments.forEach(function(sent){ %>
		<li><%= sent.text %></li>
		<% }); %>
	</ul>
	</div>
	</div>
	</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="jquery.newsTicker.js"></script>
	<script type="text/javascript">
		$('.newsticker').newsTicker();
	</script>
</body>
</html>