<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>kidbrezhi</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet">
	<style>
		.round {
		border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
		}
	</style>

</head>
<body>
	<script type="text/javascript">
		 $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
	</script>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			</div>

			<div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
				<li><a href="#">Texts</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Graphs</a>
					<ul class="dropdown-menu" role="menu" area-labelledby="dLabel">
					<li><a href="#">All</a></li>
					<li><a href="#">Food</a></li>
					<li><a href="#">Wifi</a></li>
					<li><a href="#">Venue</a></li>
					<li><a href="#">Weather</a></li>
					<li><a href="#">Hadar</a></li>
					</ul>
				</li>
				<li>
					<form class="navbar-form navbar-left" role="search">
					    <div class="form-group">
					        <input type="text" class="form-control" placeholder="Search for keywords separated by commas" style="width: 350px">
					    </div>
					    
					</form>
				</li>
				<!--
				<li>
					<form class="form-inline">
					<div class="input-append">
					  <input class="span2" id="appendedInputButton" type="text">
					  <button class="btn btn-small" type="button">Go!</button>
					</div>
					</form>
				</li>
				-->
			</ul>
				<div class="round">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active">
		            	<a href="https://github.com/smoran02/lahacks" style="background:#43CD80;">FBGM</a>
		            </li>
		          </ul>
	      		</div>
	        </div><!--/.nav-collapse -->

		</div>
	</div>

	<div class="orange">
		<div class="row">
			<div class="col-md-6 col-md-push-3 centered">
			<h3>Recent feedback</h3><i class="icon-chevron-right"></i>
			</div>
		</div>

		<div class="container">
		<div class="row">
		<div class="col-md-6 col-md-push-3 centered">
			<div id="nt-example1-container">
               <ul id="nt-example1" class="newsticker" class="round">

               		<!-- holy shit this section is disgusting -->
					<% sentiments.forEach(function(sent){ %>
					<li><a href="#" class="launchPopover" data-toggle="popover" title="keyword : score" data-content= 

						<% sent.keywords.forEach(function(key){ %>
							"' 
							<%= key.text %>
							' :
							<%= key.sentiment.score %>
							"
						<% }); %> >
						<%= sent.text %></a></li>
					<% }); %>
				</ul>
            </div>
		</div>
		</div>
		</div>
	</div>

	<script src="javascripts/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="javascripts/jquery.curvycorners.min.js"></script>
	<script src="javascripts/jquery.newsTicker.js"></script>
	<script src="javascripts/jquery.backstretch.min.js"></script>
	<script src="javascripts/bootstrap-dropdown.js"></script>
	<script src="javascripts/bootstrap-tooltip.js"></script>
	<script src="javascripts/bootstrap-popover.js"></script>
	<script type="text/javascript">
		$('.newsticker').newsTicker ({ 
			row_height: 80,
		    max_rows: 5,
		    speed: 2000,
		    direction: 'up',
		    duration: 5000,
		    autostart: 1,
		    pauseOnHover: 1
		});
		$(".orange").backstretch("images/pauley.jpg");
		$(".launchPopover").popover({
			trigger: 'hover',
			placement: 'right'
		});
		$('[data-toggle="popover"]').popover({
		    trigger: 'hover',
		    placement: 'right'
		});
	</script>
	<script>
		$('#event_name_form').submit(function(event){
			event.preventDefault();
			var val = $('#event_name').val();
			$.post('/event_name', {event_name : val}, function(data){
				$('#event_name').css("background-color", "#D1D1D1").click(function(){
					$('#event_name').css("background-color", "white");
				});
			});
		});
	</script>


</body>



