extends layout

block content
  script
    
    var keyword = !{JSON.stringify(keyword)};
    console.log(keyword);
    var data = !{JSON.stringify(data)};
    var seriesArr = [];
    var titleArr = [];
    var text;
    if(keyword){
      text = !{JSON.stringify(text)};
      
      for(x in data){
        titleArr.push(x);
        seriesArr.push({
          name:x,
          data:data[x]
          });
        seriesArr.push({
          name:x + " avg",
          data:keyword[x]
          });
      }
    } else {
      for(x in data){
        titleArr.push(x);
        seriesArr.push({
          name:x,
          data:data[x]
        });
      } 
    }
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="charting.js")
  #container
    #graphContainer